<div class="footer" id="footer">
    <div class="commit-panel" id="commit-panel">
        <textarea placeholder="Describe your changes here..." class="commit-message-input" id="commit-message-input"></textarea>
        <div class="commit-button-wrapper" id="commit-button-wrapper">
            <button class="commit-button" id="commit-button">Commit</button>
            <button class="commit-button" id="fileEdit-button" (click)="displayFileEditor()">File Editor</button>
            <button class="commit-button" id="Issues-button" (click)="displayIssuePanel()">Issues</button>
        </div>
    </div>

    <div class="terminal" id="terminal">
    </div>
</div>
