<div class="issue-panel" id="issue-panel">
    <div class="modal-header">
        <button class="btn btn-primary" data-toggle="modal" data-target="#issue-modal">Open new issue</button>
        <button class="close-button btn btn-primary" (click)="closePanel()">Close</button>
        </div>
        <nav> 
    <ul class="list-group" id="issue-dropdown" role="menu" aria-labelledby="issue-name" style ="height: 90vh; overflow:auto">
    </ul>
    </nav>
</div>

<div id="issue-modal" class="modal fade"  role="dialog" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                    <h1 class="modal-title">&nbsp; New Issue </h1>
                    <br>
                    <form id="newIssue">
                       &nbsp; Title: <input type="text" name="title"><br><br>
                       &nbsp; Body: <input type="text" name="body"><br><br>
                       &nbsp; Assignee: <input type="text" name="Assignee"><br><br>
                    </form>
                  <div class="modal-footer">  
                    <button type="button" class="btn btn-primary" id="sumbitIssue" onclick="createIssue()">Sumbit Issue</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
  </div>


  
  <div id="commentModal" class="modal fade"  role="dialog" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                    <h1 class="modal-title">&nbsp; Comments </h1>
                    <br>
                    <nav> 
                  <ul class="list-group" id="comment-list" role="menu" aria-labelledby="comment-name" style ="height: 30vh; overflow:auto">
                    </ul>
                 </nav>
                  <div class="modal-footer" id="commentModalFooter">  
                        <form id="newComment">
                                &nbsp; Comment: <input type="text" name="body"><br><br>
                        </form>
                    <button type="button" class="btn btn-primary"onclick="createCommentForIssue()">Sumbit Comment</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
  </div>


  <div id="errorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="issue-error-title">Error</h4>
            </div>
            <div class="modal-body" id="error-text-box">
              unset
            </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
